.tab-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;   
  .header-item {
    padding: 0px 12px;
    line-height: 24px;
    background-color: #fff;
    color: #333;
    border-right: 1px solid rgba(238, 238, 238, 0.253);
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;

    &.active {
      background-color: #3268b1;
      color: #eee;
    }
  }

  display: flex;
  height: 28px;
}
.tab-content {
  .item {
    display: none;
    &.active {
      display: block;
    }
  }
}
.tab-container {
  border: 1px solid #737373;
}
