.control-bar{
    padding: 0px;
}
.control-bar__button{
    margin-right: 3px;
    background-color: #0097A7;
    color: #eee;
    i{
        color: #eee !important;
    }
    .dx-button-content{
        i{
            margin-right: 2px;
        }
    }
}